<style id="publication_css">
  .pubtitle {
  margin-bottom: 0.5em;
  line-height: 1.2em;
  font-weight: bold;
}
</style>


<div class="publications">
  <h2>Selected Publications</h2>
  <p>For a complete list of publications, please refer to my <a href="https://scholar.google.com/citations?user=Ng-DmJgAAAAJ">Google Scholar</a> page.</p>
  <p>(*: Equal Contribution)</p>
  {% assign publications = site.publications | sort: "year" | reverse %}
  {% for pub in publications %}
  <div class="pubitem mb-3">
    <div class="pubtitle">{{ pub.title }}</div>
    <div class="pubauthors">{{ pub.authors }}</div>
    <div class="pubinfo">
      {% if pub.publication != '' %}
        In {{ pub.publication }}.
      {% else %}
        Under submission.
      {% endif %}
    </div>
    <div class="row mt-1">
      {% if pub.pdf != '' %}
      <a href={{ pub.pdf }} class="badge badge-primary ml-3 mr-2 pl-2 pr-2">pdf</a>
      {% endif %}
      {% if pub.code != '' %}
      <a href={{ pub.code }} class="badge badge-info mr-2 pl-2 pr-2">code</a>
      {% endif %}
      {% if pub.poster != '' %}
      <a href={{ pub.poster }} class="badge badge-default mr-2 pl-2 pr-2">poster</a>
      {% endif %}
      {% if pub.page != '' %}
      <a href={{ pub.page }} class="badge badge-success mr-2 pl-2 pr-2">page</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>